body,
html {
  margin: 0;
  padding: 0;
  font-display: swap !important;
  background-color: #f7f7f8 !important;
  scroll-behavior: smooth;
}

a,
li,
ul {
  text-decoration: none !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

img {
  display: block !important;
  background-size: cover !important;
  object-fit: cover !important;
  background-position: center !important;
}

table td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.truncate {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-top: 72px;
}

@media (max-width: 991px) {
  .main {
    padding-top: 56px;
  }
}

.logout-btn .logout-icon {
  font-size: 1.5rem;
  color: gray;
  transition: color 0.3s ease;
}
.logout-btn:hover .logout-icon {
  color: red;
}

.card {
  overflow: hidden;
}

.btn-info:hover {
  background-color: #cbc8c8 !important; /* Darker shade for hover */
  border-color: #afadad !important;
}

.btn-white {
  background-color: white !important;
}

.btn-white:hover {
  background-color: #efefef !important; /* Darker shade for hover */
}
