body {
  margin: 0;
  font-family: "Be Vietnam Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #f7f7f8 !important;
}

a,
li,
ul {
  text-decoration: none !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

img {
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.main {
  padding-top: 72px;
}

@media (max-width: 991px) {
  .main {
    padding-top: 56px;
  }
}
